@font-face {
  font-family: Gilroy;
  src: url(./fonts/Gilroy-Light.otf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(11, 29, 38);
  background-image: url(https://fondosmil.com/fondo/26286.jpg);
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
